:root {
  --fundo: #fff;
  --texto-1: #111;
  --texto-2: #444;
  --cor-primaria: #84e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background: var(--fundo);
}

h1 {
  color: var(--texto-1);
}

p {
  color: var(--texto-2);
}
